rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permisos totales para toda la aplicación web, administradores y usuarios sin restricciones
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
